%ul#actions
  %li.round= link_to "Home", :controller => 'expense', :action => 'index'
  %li.round= link_to "Add", :controller => 'expense', :action => 'new'
  %li.round= link_to "Search", :controller => 'expense', :action => 'search'
