- form_for :expense, @expense, :url => search_results_expenses_path, :html => {:method => "get"} do |f|
  .field
    = label(:expense_number, 'Expense number')
    %br
    = f.text_field 'expense_number'
  .actions
    = f.submit 'Search'
